:root {
    --mc-block-size: 56px;
    --mc-gui-zoom: 1;

    --mc-color-white: rgb(255, 255, 255);
    --mc-color-gray-1: #d1d5db;
    --mc-color-gray-2: #C6C6C6;
    --mc-color-gray-3: #a8a29e;
    --mc-color-gray-4: #3d3c3d;
    --mc-color-gray-5: #373737;
    --mc-color-gray-6: #212121;
    --mc-color-black: rgb(0, 0, 0);
    --mc-color-text-accent: #aaaaff;
    --mc-color-text-active: #fef08a;

    --mc-color-text: var(--mc-color-white);
    --mc-color-link: var(--mc-color-text-accent);

    --mc-font: 'Minecraft';
    --mc-font-mono: 'Monocraft';
    --mc-text-shadow: 0.075em 0.075em var(--mc-color-black);
    --mc-content-width: 85ch;
}

body {
    color: var(--mc-color-text);
    text-shadow: var(--mc-text-shadow);
}