:root {
    --mc-block-size: 56px;
    --mc-ui-zoom: 1;

    --mc-color-white: rgb(255, 255, 255);
    --mc-color-gray-1: #d1d5db;
    --mc-color-gray-2: #C6C6C6;
    --mc-color-gray-3: #a8a29e;
    --mc-color-gray-4: #3d3c3d;
    --mc-color-gray-5: #373737;
    --mc-color-black: rgb(0, 0, 0);
    --mc-color-text-accent: #aaaaff;
    --mc-color-text-active: #fef08a;

    --mc-color-text: var(--mc-color-white);
    --mc-color-link: var(--mc-color-text-accent);

    --mc-font: 'Minecraft';
    --mc-font-mono: 'Monocraft';
    --mc-text-shadow-sm: 0.05em 0.05em var(--mc-color-black);
    --mc-text-shadow: 0.075em 0.075em var(--mc-color-black);
    --mc-text-shadow-lg: 0.15em 0.15em var(--mc-color-black);
    --mc-text-shadow-xl: 0.225em 0.225em var(--mc-color-black);
    --mc-content-width: 75ch;
}

body {
    color: var(--mc-color-text);
    text-shadow: var(--mc-text-shadow);
}

a {
    text-decoration: none;
    color: var(--mc-color-text-accent);
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: separate;
    padding: 0.5rem;
}

table th {
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--mc-color-gray-4);
}

table td {
    position: relative;
    padding: 0 0.25rem;
    color: var(--mc-color-white);
}

.text-shadow-sm {
    text-shadow: var(--mc-text-shadow)
}

.text-shadow,
.text-shadow-md {
    text-shadow: var(--mc-text-shadow)
}

.text-shadow-lg {
    text-shadow: var(--mc-text-shadow-lg)
}

.text-shadow-xl {
    text-shadow: var(--mc-text-shadow-xl)
}

/* Backgrounds */
[class*="bg-block"],
[class*="bg-item"] {
    image-rendering: pixelated;
    background-repeat: repeat;
    background-size: var(--mc-block-size);
    -o-background-size: var(--mc-block-size);
    -moz-background-size: var(--mc-block-size);
    -webkit-background-size: var(--mc-block-size);
}

[class*="bg-painting"] {
    image-rendering: pixelated;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

/* UI */
.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    text-align: center;
    background-size: cover;
    background-image: var(--mc-ui-sign);
    white-space: pre-line;
    color: var(--mc-color-black);
}


.map {
    --mc-ui-zoom: 4;
    box-sizing: content-box;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-map);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 12.75% 15.75% fill;
    border-image-repeat: repeat;
}

.book {
    --mc-ui-zoom: 4;
    --size: calc((var(--mc-block-size) / var(--mc-ui-zoom) * 3));
    overflow: hidden;
    border-width: var(--size);
    border-style: solid;
    border-left-width: calc(var(--size) / 1.5);
    border-image: var(--mc-ui-book);
    border-image-width: var(--size) var(--size) var(--size) calc(var(--size) / 1.5);
    border-image-slice: 8.5% 15% 12.75% 10% fill;
    border-image-repeat: stretch;
    color: var(--mc-color-black);
    text-shadow: none;
}

.button {
    --mc-ui-zoom: 10;
    user-select: none;
    cursor: pointer;
    image-rendering: pixelated;
    background-size: cover;
    background-image: var(--mc-ui-button-inside);
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-button-border);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 10% 3%;
    border-image-repeat: stretch;
    color: var(--mc-color-gray-1);
    text-shadow: 1.5px 1.5px var(--mc-color-black);
}

.button:hover {
    background-size: cover;
    background-image: var(--mc-ui-button-inside-hover);
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-button-border-hover);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 10% 3%;
    border-image-repeat: stretch;
    color: var(--mc-color-text-active);
}

a.button:hover {
    text-decoration: none;
}

.button:active {
    background-size: cover;
    background-image: var(--mc-ui-button-inside-active);
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-button-border-active);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 10% 3%;
    border-image-repeat: contain;
    color: var(--mc-color-gray-3);
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--mc-color-gray-3) var(--mc-color-gray-2);
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-thumb {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-scroll-thumb);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.scrollbar::-webkit-scrollbar-thumb:active {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-scroll-thumb-active);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.transparent-panel {
    --mc-ui-zoom: 10;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-transparent-panel);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 43% 43% fill;
    border-image-repeat: stretch;
}

table,
.panel {
    --mc-ui-zoom: 10;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-panel);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 43% 43% fill;
    border-image-repeat: stretch;
}

.panel-dark {
    --mc-ui-zoom: 10;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-panel-dark);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 43% 43% fill;
    border-image-repeat: stretch;
}

.transparent-achievement-panel {
    --mc-ui-zoom: 10;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-transparent-achievement-panel);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 45.5% 45.5% fill;
    border-image-repeat: stretch;
}

.achievement-panel {
    --mc-ui-zoom: 10;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-achievement-panel);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 45.5% 45.5% fill;
    border-image-repeat: stretch;
}

.transparent-slot {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-transparent-slot);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.slot,
table td,
.scrollbar::-webkit-scrollbar-track {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-slot);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.transparent-raised-slot {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-transparent-raised-slot);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.raised-slot,
.raised-slot-button,
.scrollbar::-webkit-scrollbar-corner {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-raised-slot);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.raised-slot-hover,
.raised-slot-button:hover {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-raised-slot-hover);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.raised-slot-active,
.raised-slot-button:active {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-raised-slot-active);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.enchanting-slot,
.enchanting-slot-button {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-enchanting-slot);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.enchanting-slot-hover,
.enchanting-slot-button:hover {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-enchanting-slot-hover);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.enchanting-slot-active,
.enchanting-slot-button:active {
    --mc-ui-zoom: 24;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-enchanting-slot-active);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 33.5% 33.5% fill;
    border-image-repeat: stretch;
}

.anvil-textbox {
    --mc-ui-zoom: 16;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-anvil-textbox);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 40% 40% fill;
    border-image-repeat: stretch;
}

.anvil-textbox-active,
.anvil-textbox:active,
.anvil-textbox:focus {
    --mc-ui-zoom: 16;
    border-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image: var(--mc-ui-anvil-textbox-active);
    border-image-width: calc(var(--mc-block-size) / var(--mc-ui-zoom));
    border-image-slice: 40% 40% fill;
    border-image-repeat: stretch;
}

/* Fonts */
@font-face {
    font-family: 'Minecraft';
    src: url('/_mc/font/Minecraft-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/_mc/font/Minecraft-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/_mc/font/Minecraft-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/_mc/font/Minecraft-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/_mc/font/Monocraft.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecrafter';
    src: url('/_mc/font/Minecrafter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecrafter Alt';
    src: url('/_mc/font/MinecrafterAlt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft Evenings';
    src: url('/_mc/fonts/MinecraftEvenings.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}