---
import Base from "@layouts/Base.astro";

const files = await Astro.glob(`../../public/imgs/blocks/*`)

const blocks = files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2">
    <h3 class=" underline text-2xl sm:text-4xl text-white">Astro Minecraft Theme</h3>
    <p class="indent-5 text-white">
        This theme uses in game textures/fonts, custom css classes, and tailwindcss to create a class based styling system that makes creating a minecraft themed website super easy! Check out the <a href="/docs" class="text-mc-link hover:underline">docs</a> 
        page for more information on how to use the theme and its features
    </p>
    <h3 class="text-center  underline text-4xl text-white">Features</h3>
    <h3 class=" underline text-3xl text-white">Blocks</h3>
    <div class="flex flex-wrap justify-center">
        {blocks && blocks.map((block) => {
            return <div class={`block h-1-block w-1-block bg-${block}`}/>
        })}
    </div>
    <h3 class=" underline text-3xl text-white">Borders</h3>
    <div class="flex flex-wrap justify-center gap-5">
        <div class="h-2-block w-2-block mc-gui"></div>
        <div class="h-2-block w-2-block mc-gui-dark"></div>
        <div class="h-2-block w-2-block mc-gui-darker"></div>
        <div class="h-2-block w-2-block mc-gui-75"></div>
        <div class="h-2-block w-2-block mc-gui-dark-75"></div>
        <div class="h-2-block w-2-block mc-gui-darker-75"></div>
        <div class="h-2-block w-2-block mc-gui-50"></div>
        <div class="h-2-block w-2-block mc-gui-dark-50"></div>
        <div class="h-2-block w-2-block mc-gui-darker-50"></div>
        <div class="h-2-block w-2-block mc-gui-25"></div>
        <div class="h-2-block w-2-block mc-gui-dark-25"></div>
        <div class="h-2-block w-2-block mc-gui-darker-25"></div>
        <div class="h-1-block w-1-block mc-item-slot"></div>
    </div>
    <h3 class=" underline text-3xl text-white">Tables</h3>
    <table class="self-center mc-table w-min whitespace-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>265</td>
                <td>Iron Ingot</td>
                <td>A ingot of iron, used for crafting</td>
            </tr>
            <tr>
                <td>266</td>
                <td>Gold Ingot</td>
                <td>A ingot of gold, used for crafting</td>
            </tr>
            <tr>
                <td>264</td>
                <td>Diamond</td>
                <td>A diamond, used for crafting</td>
            </tr>
        </tbody>
    </table>
    <h3 class=" underline text-3xl text-white">Buttons</h3>
    <div class="flex flex-wrap items-center justify-center gap-1 whitespace-nowrap">
        <a class="mc-button py-2 px-4 text-lg">XS</a>
        <a class="mc-button py-2 px-4 text-lg">Small</a>
        <a class="mc-button py-2 px-4 text-lg">Larger Button</a>
        <a class="mc-button py-2 px-4 text-lg whitepsace-nowrap">A Looooooonger Button</a>
        <a class="mc-button py-2 px-4 text-lg whitepsace-nowrap">An Even Looooooooonger Button</a>
    </div>
    <h3 class=" underline text-3xl text-white">Scrollbar</h3>
    <div class="flex flex-wrap justify-center gap-5">
        <div class="mc-scrollbar h-1-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-2-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-3-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-4-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-3-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-2-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
        <div class="mc-scrollbar h-1-block w-[1rem] overflow-y-auto">
            <div class="h-5-block"></div>
        </div>
    </div>
    <h3 class=" underline text-3xl text-white">Fonts</h3>
    <div class="flex flex-col items-center gap-3 whitespace-nowrap text-white">
        <h3 class=" text-2xl xs:text-4xl">Minecrafter</h3>
        <h3 class="font-['Minecrafter_Alt'] text-2xl xs:text-4xl">Minecrafter Alt</h3>
        <h3 class="font-['Minecraft_Evenings'] text-2xl xs:text-4xl">Minecraft Evenings</h3>
        <div class="flex flex-wrap justify-center gap-5 whitespace-nowrap">
            <p class="font-['Minecraft']">Minecraft</p>
            <p class="italic font-['Minecraft']">Minecraft Italic</p>
            <p class="font-bold font-['Minecraft']">Minecraft Bold</p>
            <p class="font-bold italic font-['Minecraft']">Minecraft Bold Italic</p>
        </div>
    </div>
    <h3 class=" underline text-3xl text-white">Colors</h3>
    <div class="flex flex-wrap items-center justify-center gap-3 whitespace-nowrap">
        <p class="text-mc-dark-blue">dark-blue</p>
        <p class="text-mc-dark-green">dark-green</p>
        <p class="text-mc-dark-aqua">dark-aqua</p>
        <p class="text-mc-dark-red">dark-red</p>
        <p class="text-mc-dark-purple">dark-purple</p>
        <p class="text-mc-gold">gold</p>
        <p class="text-mc-gray">gray</p>
        <p class="text-mc-dark-gray">dark-gray</p>
        <p class="text-mc-blue">blue</p>
        <p class="text-mc-green">green</p>
        <p class="text-mc-aqua">aqua</p>
        <p class="text-mc-red">red</p>
        <p class="text-mc-light-purple">light-purple</p>
        <p class="text-mc-yellow">yellow</p>
    </div>
</div>
</Base>
