---
import Base from "~/layouts/Base.astro";

const item_files = await Astro.glob(`../../public/imgs/items/*`)
const painting_files = await Astro.glob(`../../public/imgs/paintings/*`)

const items = item_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

const paintings = painting_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    <h3 class=" underline text-2xl sm:text-4xl text-white">Astro Minecraft Theme</h3>
    <p class="indent-5 text-white">
        Show off your server, document your projects, build with blocks, display items and paintings, create game like GUIs, and tons more! This is a complete Minecraft theme with a documentation template built using Astro and Tailwindcss.
        Check out the <a href="/docs" class="text-link hover:underline">docs</a> page for more information on how to use the theme and its features
    </p>
    <h3 class="text-center  underline text-4xl text-white">Features</h3>
    <div class="flex items-center justify-center">
        <ul>
            <li>Display over 200+ items</li>
            <li>Build with 100+ blocks</li>
            <li>Repeating block backgrounds</li>
            <li>All 25 paintings</li>
            <li>Block based units/sizes</li>
            <li>Create GUIs using panels, slots, and buttons</li>
            <li>Misc UIs like maps, books, signs, and more</li>
            <li>Minecraft typography using the Minecraft's font, text colors, and text shadows</li>
            <li>75+ Minecraft themed colors</li>
            <li>Markdown theme</li>
            <li>Documentation system</li>
        </ul>
    </div>
    <a href="/docs" class="self-center py-2 px-5 my-5 button text-shadow-lg text-2xl">Get started</a>
</div>
</Base>
