---
export interface Props {
    bg?: string;
    h?: string|number;
    w?: string|number;
    class?: string|[]|{};
}

const {
    bg="stone",
    h,
    w,
    class: classProp,
    ...attrs
} = Astro.props as Props
---

<div
    class:list={[
        classProp,
        'block',
        h?`h-${h}-block`:'',
        w?`w-${w}-block`:'',
        bg?`bg-${bg}`:''
    ]}
    {...attrs}
>
    <slot />
</div>