---
import Block from "./Block.astro";
---

<Block block="bedrock" class="h-[calc(var(--block-size)*var(--footer-height))] [--footer-height:6] xs:[--footer-height:5] sm:[--footer-height:4] md:[--footer-height:3] w-full">
    <div class="flex flex-col sm:flex-row items-center justify-between h-full p-5 bg-gradient-to-t from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0.75)] text-white">
        <header class="flex flex-col gap-3 w-full sm:w-[60%]">
            <img src="./imgs/project-logo.png" class="h-[var(--block-size)] w-fit m-[-14px]" />
            <p>This is the Minecraft Theme for Astro, created as an introduction to Astro for Minecraft creators in need of a website template for their project</p>
        </header>
        <nav class="self-end flex flex-col items-end gap-1 text-mc-link">
            <a href="" class="hover:underline">Community</a>
            <a href="" class="hover:underline">Download</a>
            <a href="" class="hover:underline">Github</a>
            <a href="" class="hover:underline">CurseForge</a>
        </nav>
    </div>
</Block>
