---
const { 
    class: classProp
} = Astro.props
---

<header
    class:list={[
        classProp,
        `[--nav-height:3] h-[calc(var(--block-size)_*_var(--nav-height))] md:[--nav-height:2] w-full bg-block-dirt`
    ]}
>
    <div class="h-full w-full bg-block-grass-side bg-repeat-x">
        <div class="flex flex-col md:flex-row items-center justify-end h-full w-full p-5 pt-0 md:pb-0 bg-cover bg-gradient-to-t from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0.25)]">
            <a href="/" class="h-auto w-6-block md:w-9-block mx-auto md:ml-0"><img src="/imgs/project-logo.png" alt="logo" class=""/></a>
            <nav class="flex items-center justify-end w-full md:w-min gap-3 text-2xl text-white">
                <slot />
                <a href="/" class="hover:underline">Home</a>
                <a href="/docs" class="hover:underline">Docs</a>
                <a href="https://github.com/BryceRussell/astro-minecraft-theme" class="button py-1 px-2 text-lg" target="_blank">Github</a>
            </nav>
        </div>
    </div>
</header>