---
const { 
    height,
    class: classProp
} = Astro.props
---

<header
    class:list={[
        classProp,
        `[--nav-height:4] h-[calc(var(--block-size)_*_var(--nav-height))] md:[--nav-height:2] w-full bg-dirt`
    ]}
>
    <div class="h-full w-full bg-grass-side bg-repeat-x">
        <div class="flex flex-col md:flex-row items-center justify-center md:justify-around h-full w-full p-3 bg-gradient-to-t from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0.25)]">
            <a href="/" class="scale-[0.75] m-[-1rem]"><img src="/imgs/project-logo.png" alt="logo" class=""/></a>
            <nav class="flex items-center gap-3 text-2xl text-white">
                <a href="/" class="hover:underline">Home</a>
                <a href="/docs" class="hover:underline">Docs</a>
                <a href="https://github.com/BryceRussell/astro-minecraft-theme" class="button py-2 px-3 text-lg" target="_blank">Download</a>
            </nav>
            <slot />
        </div>
    </div>
</header>