---
import Base from "~/layouts/Base.astro";
import Footer from "~/components/Footer.astro";

let docs = await Astro.glob('../pages/docs/*.md');
docs = docs.filter((post) => !post.frontmatter.draft);

const index = docs.pop()

const heading_depth_class_map = {
    1: "text-lg underline text-yellow",
    2: "ml-2 text-md",
    3: "ml-4 italic text-sm",
}
---

<Base noFooter>
    <button slot="navbar" class="button grid place-items-center md:hidden mr-auto text-shadow-lg" onclick="document.getElementById('sidebar').classList.toggle('hidden')"><span class="mt-1.5 mr-2.5 mb-1 ml-2 leading-none">☰</span></button>
    <div class="flex flex-col md:flex-row h-full min-h-[var(--main-height)]">
        <aside id="sidebar" class="hidden h-[50vh] w-full bg-block-stone-slab-double md:block md:sticky md:top-0 md:h-screen md:w-6-block">
                <div class="flex flex-col h-full gap-2 p-3 bg-dark-50 overflow-y-auto scrollbar">
                {[index, ...docs].map(async(h) => {
                    const headings = await h.getHeadings();
                    return (
                        <Fragment>
                            {headings.length > 0 &&                        
                                <nav class="achievement-panel p-1">
                                    <div class="flex flex-col gap-1 py-2 px-3 text-white">                                        
                                        { headings.map((heading) => {
                                            if (heading.depth > 3) return
                                            return <a 
                                                href={`${h.url}#${heading.slug}`}
                                                class:list={[
                                                    heading_depth_class_map[heading.depth],
                                                    "hover:underline text-shadow-sm"
                                                ]}
                                            >
                                                {heading.text}
                                            </a>
                                        })}
                                    </div>
                                </nav>
                            }
                        </Fragment>
                    )
                })}
                </div>
        </aside>
        <div class="h-full w-full md:w-[calc(100vw_-_(var(--block-size)_*_6))]">
            <div class="flex flex-col h-full min-h-screen w-full md:w-[90%] lg:w-[80%] mx-auto px-3 overflow-visible markdown">
                <slot />
            </div>
            <Footer class="[--block-size:56px]" />
        </div>
    </div>
</Base>

