---
import Base from "@layouts/Base.astro";
import Footer from "@components/Footer.astro";

let docs = await Astro.glob('../pages/docs/*.md');
const index = docs.pop()

const depth_class_map = {
    1: "text-lg text-yellow",
    2: "ml-2 text-md",
    3: "ml-4 italic text-sm",
}
---

<Base footer={false}>
    <div class="flex flex-col md:flex-row h-full min-h-[var(--main-height)] px-3">
        <aside class="hidden overflow-y-auto w-full bg-stone-brick scrollbar md:block md:sticky md:top-0 md:h-screen md:w-6-block">
                <div class="flex flex-col h-min gap-2 py-5 px-3 bg-dark-50">
                {[index, ...docs].map(async(h) => {
                    const headings = await h.getHeadings();
                    return (
                        <Fragment>
                            {headings.length > 0 &&                        
                                <nav class="panel p-1">
                                    <div class="flex flex-col gap-1 py-2 px-3 slot text-white">                                        
                                        { headings.map((heading) => {
                                            if (heading.depth > 3) return
                                            return <a 
                                                href={`${h.url}#${heading.slug}`}
                                                class:list={[
                                                    depth_class_map[heading.depth],
                                                    "hover:underline text-shadow-sm"
                                                ]}
                                            >
                                                {heading.text}
                                            </a>
                                        })}
                                    </div>
                                </nav>
                            }
                        </Fragment>
                    )
                })}
                </div>
        </aside>
        <div class="h-full w-full md:w-[calc(100vw_-_(var(--block-size)_*_6))]">
            <div class="flex flex-col h-full min-h-screen w-full md:w-[90%] lg:w-[80%] mx-auto py-5 overflow-visible markdown">
                <slot />
            </div>
            <Footer class="[--block-size:56px]" />
        </div>
    </div>
</Base>

